<div class="app-list">
    <div class="list_header row">
        <div class="list_title col-10">
            <h4>{{ list.name }}</h4>
        </div>
        <div class="delete_list_btn col-2">
            <button type="button" title="Delete List" class="btn btn-outline-danger btn-sm float-end" (click)="deleteList()">X</button>
        </div>
    </div>
    <!-- Cards within the list -->
    <div 
        class="card-container" 
        *ngFor="let card of cards" 
        cdkDrag 
        [cdkDragData]="card"
    >
        <div class="card">
            <h5>{{ card.title }}</h5>
            <p>{{ card.description }}</p>
        </div>
    </div>

    <!-- Add Card Form -->
    <div class="container">
        <div class="card_buttons row">
            <button type="button" class="col-4 btn btn-outline-primary btn-sm" (click)="addCard()">Add Card</button>
        </div>
    </div>
    <div *ngIf="addingCardTo">
        <form (ngSubmit)="submitCard()">
            <input type="text" placeholder="Title" [(ngModel)]="newCard.title" name="title" />
            <textarea placeholder="Description" [(ngModel)]="newCard.description" name="description"></textarea>
            <button type="submit">Save</button>
            <button type="button" (click)="cancelAddingCard()">Cancel</button>
        </form>
    </div>
</div>
